@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
}
/*****HEADER*****/
header h1 {
    display: inline-block;
}

header {
    color: white;
    padding: 15px;
}

#authBox {
    background-color: #6441a5;
}

button {
    color: #6441a5;
    margin: 20px;
}

button:hover {
    opacity: 0.8;
}

#logout {
    margin-top: 30px;
}
/*****END HEADER*****/

/*****CONTENT*****/
#index {
    text-align: center;
}

#player {
    margin-bottom: 10px;
    padding-bottom: 45%
}

#player iframe {
    max-height: 600px;
}
/*****END CONTENT*****/

/*****FOOTER*****/
footer {
    display: inline-block;
    background-color: #737373;
    height: 50px;
    color: white;
}

footer p {
    margin: 15px;
}
/*****END FOOTER*****/