@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
}
/*****AUTH*****/
header h1 {
    display: inline-block;
}

header {
    color: white;
    padding: 15px;
}

#authBox {
    background-color: #6441a5;
}

button {
    color: #6441a5;
    margin: 20px;
}

button:hover {
    opacity: 0.8;
}

#logout {
    margin-top: 30px;
}

/*****CONTENT*****/
#index {
    text-align: center;
}

#player iframe {
    max-height: 600px;
}