@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
}
/*****AUTH*****/
header h1 {
    display: inline-block;
}

header {
    color: white;
    padding: 15px;
}

#authBox {
    background-color: #6441a5;
}

button {
    margin: 20px;
}

#logout {
    margin-top: 30px;
}