<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Twitch App</title>
  <meta name="viewport" content="width=device-width">
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="styles/index.css" rel="stylesheet" type="text/css">
  <link href="styles/thumbnail.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <base href="/">
</head>
  <body ng-app="twitchApiApp">
    <div class="container-fluid" ng-controller="mainController">
      <div class="row">
        <header id="authBox" class="col-md-12">
          <h1>TwitchApp</h1>
          <div id="logout" class="pull-right" ng-if="authenticated">Logged in as : {{ username }} - <a href="#" ng-click="disconnect()">Log Out</a></div>
          <button ng-if="authenticated === false" ng-click="redirect()" class="btn pull-right">Log In</button>
        </header>
      </div>
      <div class="content">
        <div ng-if="authenticated" id="followedStreams" class="row">
          <div ng-click="setActualStream(stream.channel.name)" ng-repeat="stream in streams" class="col-lg-4 col-sm-6 col-xs-12 thumbnailDiv">
            <thumbnail stream="stream"></thumbnail>
          </div>
        </div>
        <div id="index" class="well" ng-if="authenticated === false">
          <h2>Welcome on TwitchApp</h2>
          <p>Hit the Log In button to enjoy your favorites streamers on the Twitch Platform</p>
        </div>
        <div id="player" class="embed-responsive embed-responsive-16by9 col-md-8 col-md-offset-2">
          <twitchplayer name="actualStream"></twitchplayer>
        </div>        
      </div>
      <div class="row">
        <footer class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <p>Made with the Twitch.tv API available at this <a href="https://dev.twitch.tv/" target="_blank">address</a></p>
      </footer>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/mainController.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/parse.js"></script>
    <script src="scripts/services/getStreams.js"></script>
    <script src="scripts/directives/thumbnail.js"></script>
    <script src="scripts/directives/twitchplayer.js"></script>
    <script src="scripts/filters/twitchEmbedUrl.js"></script>
  </body>
</html>
